.hidden {
  display: none !important;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 375px;
  }
}
