* {
  color: #584e4e;
  font-family: "Varela Round", sans-serif;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.align-end {
  text-align: end;
}

.logo-font {
  font-family: pacifico, sans-serif;
  font-weight: 400;
  margin: 0;
}

.navbar {
  background-color: #fdb900;
  height: 65px;
}

ul.nav-list {
  margin-top: 1.3rem;
}

.nav-links {
  display: inline;
  list-style: none;
}

.nav-links > a {
  text-decoration: none;
  margin-left: 1.4rem;
}

.home-text {
  font-size: 34px;
  font-weight: 400;
  margin-top: 10rem;
}

.click-here-btn {
  background-color: #fdb900;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.click-here-btn:active {
  transform: translateY(0.25rem);
}

.click-here-text {
  opacity: 0.9;
  padding-top: 5.7rem;
  font-size: 36px;
}

.flashcard-word-container,
.card-container {
  height: 590px;
  margin-top: 30px;
  padding: 1.5rem;
  border-radius: 18px;
}

.card-container {
  border: 3px solid #fdb900;
}

.flashcard-word-container {
  border: 3px solid #645a5a;
}

.card-container-inner {
  flex-direction: column;
  height: 100%;
}

.new-word-breakline {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
  border-top: 1px solid #fdb900;
}

.generated-word {
  text-align: center;
  padding: 1.7rem 0;
  font-size: 2.1rem;
}

.generated-def {
  text-align: center;
  font-size: 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.definition-column {
  flex: 1;
}

.save-button {
  width: 100%;
  background-color: #fdb900;
  color: #645a5a;
  border: none;
  margin-top: 1.7rem;
  height: 4.2rem;
  border-radius: 18px;
}

.save-button-txt {
  font-size: 2rem;
}

.study-list-title {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.2rem;
}

.saved-word-list {
  list-style: none;
  text-align: center;
  display: contents;
}

.saved-word {
  padding: 1.1rem 0 0.8rem;
  font-size: 1.5rem;
  height: 4.5rem;
  border: 3px solid #fdb900;
  margin: 0.9rem 0;
  border-radius: 18px;
}

.message {
  margin: auto;
  font-weight: 400;
  line-height: 0.5rem;
}

.study-button {
  width: 100%;
  background-color: #fdb900;
  color: #645a5a;
  border: none;
  margin-top: 1.7rem;
  height: 4.2rem;
  border-radius: 18px;
}

.study-button-txt {
  font-size: 2rem;
}

.study-button-container {
  position: fixed;
  bottom: 30px;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  height: 120px;
  max-width: calc(730px - 3rem);
}

[data-view="study-list"] {
  margin-bottom: 150px;
}

.flip-button {
  width: 100%;
  background-color: #645a5a;
  border: none;
  margin-top: 1.7rem;
  height: 4.2rem;
  border-radius: 18px;
}

.flip-button-txt {
  color: white;
  font-size: 2rem;
}

.new-button,
.back-button {
  width: 95%;
  background-color: #645a5a;
  border: none;
  margin-top: 1.7rem;
  height: 4.2rem;
  border-radius: 18px;
}

.new-button-txt,
.back-button-txt {
  color: white;
  font-size: 2rem;
}

.next-button {
  width: 95%;
  background-color: #fdb900;
  border: none;
  margin-top: 1.7rem;
  height: 4.2rem;
  border-radius: 18px;
}

.next-button-txt {
  color: #645a5a;
  font-size: 2rem;
}

.trash-icon {
  position: absolute;
  right: 15px;
  top: 20px;
}

.modal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  width: 100%;
  height: 100vh;
  background: rgba(56, 56, 56, 0.8);
  z-index: 999;
}

.modal-box {
  margin: auto;
  width: 330px;
  height: 110px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.delete-msg {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}

.cancel-btn,
.delete-btn {
  font-size: 0.8rem;
  font-weight: 400;
  width: 6.2rem;
  height: 1.6rem;
  border: none;
  border-radius: 7px;
  letter-spacing: 1px;
}

.delete-btn {
  background-color: rgb(221, 43, 43);
  color: white;
}

.cancel-btn {
  background-color: #646463;
  color: white;
}
